/* fonts */
@font-face { font-family: BigNoodle; src: url("../fonts/big_noodle_titling.ttf"); }
@font-face { font-family: Avenir; src: url("../fonts/Avenir Next LT Pro Regular.otf"); }

:root{
    --font-color: black;
    --font-color-secondary: #525252;
    --bg-color-primary: white;
    --bg-color-secondary: #f3f3f3;
    --nav-color: #6CB443;
    --nav-hover-color: #7ac251;
    --header-color: #006225;
    --footer-color: rgba(0,0,0,.03);
    --outline-color: black;
    --deleted-item-color: #d39a9a;

    /* dropdown colors */
    --dropdown-item-hover: #eaeaea;

    /* form theme */
    --form-outline-color: #0000001F;
    --form-header-color: rgba(0,0,0,.03);
    --form-input-color: white;
    --placeholder-font-color: #696969;
    --calendar-invert-amount: 0;

    /* submit button theme */
    --submit-color: white;
    --submit-hover-color: #6CB443;
    --submit-border-color: black;
    --submit-border-hover-color: #6CB443;
    --submit-text-color: #006225;
    --submit-text-hover-color: black;
    --disabled-btn-bg-color: white;
    --disabled-btn-font-color: #8f8f8f;

    /* modal button themes */
    --secondary-close-bg-color: #0000001F;
    --secondary-close-hover-color: #0000004A;
    --modal-edit-bg-color: #6CB443;
    --modal-edit-hover-color: #568f35;

    /* table theme */
    --table-header-color: #cccccc;
    --table-secondary-color: #f3f3f3;
    --table-hd-font-color: black;
    --table-hover-color: rgba(108, 180, 67, 0.15);

    /* status colors*/
    --status-need-to-apply: #d08205;
    --status-applied: #3b5df8;
    --status-interviewing: #d9d908;
    --status-rejected: #e54a4a;
    --status-accepted: #4ae34a;
    --status-inactive: #bdbdbd;

    /* footer icons */
    --footer-icon-invert: 0%;

    /* dark mode toggle */
    --dark-mode-toggle-bg: #cece6c;

    /* bootstrap inputs */
    --select-icon-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

}

:root[data-theme="dark"] {
    --font-color: #ddd;
    --font-color-secondary: #c4c4c4;
    --bg-color-primary: #333;
    --bg-color-secondary: #1d1d1d;
    --nav-color: #006225;
    --nav-hover-color: #00501e;
    --header-color: #6CB443;
    --footer-color: #1d1d1d;
    --outline-color: #BBB;
    --form-outline-color: rgba(220, 220, 220,.125);
    --form-input-color: #454545;
    --placeholder-font-color: #ddd;
    --deleted-item-color: #563333;

    /* dropdown theme */
    --dropdown-item-hover: #3f3f3f;

    /* submit button theme */
    --submit-color: #6CB443;
    --submit-hover-color: white;
    --submit-border-color: #6CB443;
    --submit-border-hover-color: black;
    --submit-text-color: black;
    --submit-text-hover-color: #006225;
    --disabled-btn-bg-color: #333;
    --disabled-btn-font-color: #7c7c7c;

    --table-header-color: #1d1d1d;
    --table-secondary-color: #252525;
    --table-hd-font-color: white;
    --table-hover-color: dimgrey;

    --form-header-color: #454545;
    --calendar-invert-amount: 1;

    /* modal button themes */
    --secondary-close-bg-color: #454545;
    --modal-edit-bg-color: #006225;
    --modal-edit-hover-color: #00461b;

    /* footer icons */
    --footer-icon-invert: 88%;

    /* dark mode toggle */
    --dark-mode-toggle-bg: #3b3b3b;

    /* bootstrap inputs */
    --select-icon-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dddddd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}


/*********************** general **************************/ /*********************** general **************************/
/*********************** general **************************/ /*********************** general **************************/

body {
    color: var(--font-color) !important;
}

body h5, h6, h4, h3{
    color: var(--header-color);
    font-family: BigNoodle, sans-serif;
}

a:link, a:visited {
    color: var(--header-color);
    text-decoration: none;
}

main a:hover, footer a:hover{
    text-decoration: underline;
}

.btn, .nav-link {
    color: var(--font-color) !important;
}

main{
    background-color: var(--bg-color-primary);
    min-height: calc(100vh - 200px);
    padding-bottom: 3rem;
}

footer{
    background-color: var(--footer-color)
}

#bio-container p {
    text-align: justify;
}

.link, & .link:visited {
    text-decoration: none;
    color: var(--header-color);
    font-weight: 600;
}

.link:hover, & .link:visited {
    text-decoration: underline var(--header-color);
}

/*********************** nav **************************/ /*********************** nav **************************/
/*********************** nav **************************/ /*********************** nav **************************/

#grc-logo, #grc-logo-white {
    height: 70px;
}

nav {
    background-color:  var(--nav-color);
    .nav-link {
        border-bottom: solid 4px  var(--nav-color) !important;
        font-family: BigNoodle, serif;
        font-size: 1.7rem !important;
    }
}

nav .nav-link:hover {
    background-color: var(--nav-hover-color);
    border-bottom: solid 4px  #D14900 !important;
}

.navbar-nav {
    width: 100%;
}

#navbarDropdown {
    background: var(--nav-color);
    border: none;
    font-family: BigNoodle, serif;
    font-size: 1.7rem;
    border-radius: unset;
}

#navbarDropdown:hover {
    background-color: var(--nav-hover-color);
    border-bottom: solid 4px  #D14900 !important;
}

#navbarDropdown[aria-expanded='true'] {
    background-color: var(--nav-hover-color);
    border-bottom: solid 4px  #D14900 !important;
}

.dropdown{
    width: 250px !important;
}

.dropdown-menu {
    background: var(--bg-color-primary) !important;
    border-radius: unset !important;
    width: 250px !important;
}

.dropdown-item {
    color: var(--font-color) !important;
    border-bottom: none !important;
}

.dropdown-item:hover {
    background: var(--dropdown-item-hover);
    color: var(--header-color) !important;
    text-decoration: underline var(--header-color);
}

.dropdown-item:hover {
    border-bottom: none !important;
}

.dark-switch-outer{
    position: relative;
    width: 100%;
}

.welcome-outer{
    position: absolute;
    right: 30px;
    top: 20px;
    min-width: 200px;

    .dropdown-item:hover{
        background-color: transparent;
        text-decoration: none;
    }
    .dropdown-item{
        width: auto;

    }
}

.logout-outer{
    position: absolute;
}

#user-dropdown{
    border: none !important;
}

.user-menu-label{
    color: var(--font-color);
    font-family: BigNoodle, sans-serif;
    font-size: 1.4rem;
}

.btn-log-in-out{
    background-color: var(--submit-color);
    border: 1px solid var(--submit-border-color) !important;
    border-radius: 2px;
    color: var(--submit-text-color) !important;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 4px 8px;
    width: 80px;
}
.btn-log-in-out i{
    color: var(--submit-text-color) !important;
}

.btn-log-in-out:disabled{
    background-color: var(--disabled-btn-bg-color) !important;
    border: 1px solid var(--disabled-btn-font-color) !important;
    color: var(--disabled-btn-font-color) !important;
}

.btn-log-in-out:hover{
    background-color: var(--submit-hover-color);
    text-decoration: none;
    border: 1px solid var(--submit-border-hover-color) !important;
    color: var(--submit-text-hover-color) !important;
    transition: .75s;
}

.btn-log-in-out:hover:disabled{
    background-color: var(--disabled-btn-bg-color) !important;
    border: 1px solid var(--disabled-btn-font-color) !important;
    color: var(--disabled-btn-font-color) !important;
}

.btn-log-in-out a:visited{
    color: var(--submit-text-color);
}

#date-format-select{
    width: 100px;
    font-size: 0.7rem;
    padding: .1rem .1rem .1rem .5rem !important;
    background-image: var(--select-icon-img);
}

.form-select{
    background-image: var(--select-icon-img);
}



/*********************** dark mode **************************/ /*********************** dark mode **************************/
/*********************** dark mode **************************/ /*********************** dark mode **************************/

#dark-mode-list-item{
    margin-left: auto;
    min-height: 32px;
}

#dark-mode-list-item > div {
    padding-top: 15px;
}

#dark-mode-list-item input[type="checkbox"]{
    display:none;
}

#dark-mode-list-item label{
    position:absolute;
    right:10px;
    background-color: var(--dark-mode-toggle-bg);
    border-radius:30px;
    cursor:pointer;
}
.fa-sun, .fa-moon{
    font-size:12px;
    transition:.3s;
    border-radius: 50%;
    padding: 4px 4px 4px 4px;
    margin-top: 2px;
    margin-bottom: 3px;
    width: 20px;
    height: 20px;
}
.fa-sun{
    color: black;
    transform:translateX(22px);
    background-color: #ffd500;
}
.fa-moon{
    color: white;
    transform:translateX(0px);
    opacity:0;
    background-color: black;
}

#dark-mode-switch{
    width: 130px;
}

#dark-mode-switch:checked ~ label > .fa-sun{
    opacity:0;
    transform:translateX(0px);
}

#dark-mode-switch:checked ~ label > .fa-moon{
    opacity:1;
    transform:translateX(-22px);
}

/*********************** forms **************************/ /*********************** forms **************************/
/*********************** forms **************************/ /*********************** forms **************************/
.form-body {
    width: 80%;
}

.form-header {
    width: 70%;
    background-color: var(--form-header-color);
    border: solid 1px var(--form-outline-color);
    border-bottom: none;
    margin: 3rem auto 0 auto;
    padding: 1rem;
}

.form-container {
    width: 70%;
    border: solid 1px var(--form-outline-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 3rem auto;
}

.form-container, .app-list, .user-list, .app-list-admin, .date-list, .announcements-list{
    & input, & textarea, .input-group-text, .input-group, .form-select{
        background-color: var(--form-input-color) !important;
        border-color: var(--form-outline-color);
        color: var(--font-color) !important;
        border-radius: 4px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active{
        background-color: var(--form-input-color) !important;
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--font-color) !important;
    }

    ::placeholder, select, input[type='date']  {
        color: var(--placeholder-font-color) !important;
    }

    input:checked {
        background-color: var(--header-color) !important;
        border-color: var(--header-color) ;
        box-shadow: 0 0 0 3px rgba(108, 180, 67, 0.27);
    }

    i {
        color: var(--font-color);
    }

}

#application-status {
    padding: 0.5rem;
    border: solid 1px var(--form-outline-color);
    border-radius: 0.375rem;

    background-color: var(--form-input-color);
}


.form-label {
    color: var(--header-color);
    font-weight: 600;
    min-width: 200px;
    display: inline !important;
}

.submit-btn {
    background-color: var(--submit-color);
    border: 1px solid var(--submit-border-color);
    border-radius: 2px;
    color: var(--submit-text-color);
    font-weight: 600;
    padding: 7px 10px 7px 10px;
}

.submit-btn:hover {
    background-color: var(--submit-hover-color);
    border: 1px solid var(--submit-border-hover-color);
    border-radius: 2px;
    color: var(--submit-text-hover-color);
    font-weight: 600;
    padding: 7px 10px 7px 10px;
    transition: .75s;
}

.new-app-btn{
    background-color: var(--submit-color);
    border: 1px solid var(--submit-border-color);
    border-radius: 2px;
    color: var(--submit-text-color);
    font-weight: 600;
    padding: 7px 10px 7px 10px;
    display: inline;
}

.submit-btn i, .new-app-btn i {
    color: var(--submit-text-color);
}

.warning {
    color: #D14900;
}

.form-input-error {
    border-color: rgb(209, 73, 0, 1) !important;
    box-shadow: 0 0 5px rgb(209, 73, 0, 1) !important;
}

#name-error {
    visibility: hidden;
}

#email-error {
    visibility: hidden;
}

#password-error {
    visibility: hidden;
}

#cohort-error {
    visibility: hidden;
}

#status-error {
    visibility: hidden;
}

#roles-error {
    visibility: hidden;
}

.status-select{
    background-image: var(--select-icon-img);
}

/* Customize the color of the calendar icon */
input::-webkit-calendar-picker-indicator {
    filter: invert(var(--calendar-invert-amount));
}



/*********************** form receipt **************************/ /*********************** form receipt **************************/
/*********************** form receipt **************************/ /*********************** form receipt **************************/

.receipt-message {
    width: 60%;
    background-color: var(--form-header-color);
    border: solid 1px var(--form-outline-color);
    border-bottom: none;
    margin: 3rem auto 0 auto;
    padding: 1rem;
    color: var(--header-color);
}

.form-receipt-container {
    width: 60%;
    border: solid 1px var(--form-outline-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 3rem auto;

    .receipt-content {
        width: 90%;
    }

    .list-group-item {
        background-color: var(--bg-color-primary) !important;
    }

    .message-box {
        height: auto !important;
        min-height: 4rem !important;
        border-bottom: none !important;;
    }

    li {
        border-color: var(--form-outline-color);
        color: var(--font-color) !important;
        list-style: none !important;
    }

}

.form-error {
    width: 60%;
    margin: auto auto 3rem auto;
}

.empty-form-msg{
    min-height: 300px;
}

/*********************** dash tables **************************/ /*********************** dash tables **************************/
/*********************** dash tables **************************/ /*********************** dash tables **************************/

/* prevents url from "breaking" */
/*table td {*/
/*    white-space: normal !important;*/
/*    word-break: break-all;*/
/*    word-wrap: break-word;*/
/*}*/

table td {
    white-space: normal !important;
    word-break: break-all;
    word-wrap: break-word;
}

.app-list{
    gap: 10px;
    padding: 15px;
}

.app-list a:link, .app-list a:visited{
    color: var(--submit-text-color) !important;
}

.user-list{
    gap: 10px;
    padding: 15px;
}

.app-list-item, .user-list-item{
    margin: 6px 0;
    align-items: center;
}

.app-list-item .btn, .user-list-item .btn{
    width: 36px;
    height: 36px;
}

.btn-update, .modal-undo-delete{
    background-color: #6CB443;
}

.admin-btn:disabled{
    color: var(--disabled-btn-font-color) !important;

    i{
        color: var(--disabled-btn-font-color) !important;
    }
}

.btn-make-admin{
    background-color: #0b65c4;
    font-size: 0.8rem;
    color: white;
    width: 120px !important;
    height: 36px;
}

.btn-make-admin:hover{
    background-color: #033a94;
}

.app-list-item .btn-update:hover, .user-list-item .btn-update:hover, .admin-announcement .btn-update:hover, .modal-undo-delete:hover {
    background-color: #006225;
}
.btn-delete, .btn-reset{
    width: 36px;
    height: 36px;
}

.btn-delete, .modal-delete {
    background-color: #d24747;
    a{
        color: white;
    }
}
.app-list-item .btn-delete:hover, .user-list-item .btn-delete:hover, .modal-delete:hover, .admin-announcement .btn-delete:hover{
    background-color: #b42c2c;
}

.btn-reset{
    background-color: #bd9b56;
}

.btn-reset:hover{
    background-color: #8a6d33;
}

.more-apps-btn {
    background-color: #0b65c4;
    border: 1px solid #0b65c4;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    padding: 7px 10px 7px 10px;
}

.more-apps-btn:hover {
    background-color: #033a94;
    border: 1px solid  #033a94;
    border-radius: 2px;
    padding: 7px 10px 7px 10px;
    transition: .75s;
}

/*********************** delete modal **************************/ /*********************** delete modal **************************/
/*********************** delete modal **************************/ /*********************** delete modal **************************/
/* User List */
.deleted-user{
    box-shadow: 0 0 10px 4px var(--deleted-item-color) inset;
    text-decoration: line-through;
}

.deleted-user-icon{
    font-size: 1.2rem;
    padding-right: 8px;
}

#user-deleted-check{
    min-height: 20px;
    height: 20px;
    width: 20px;
}

/* delete apps modal */
.modal-delete, .modal-undo-delete {
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    padding: 7px 10px 7px 10px;
}

/*********************** user dash **************************/ /*********************** user dash **************************/
/*********************** user dash **************************/ /*********************** user dash **************************/

.dashboard-top{
    gap: 30px;
    margin-bottom: 20px;
}

.reminders{
    padding: 15px;
    margin-bottom: 10px;
}

.reminders hr{
    color: var(--header-color);
}

.reminder h6{
    padding-left: 10px;
}

.reminder i{
    text-align: center;
    font-size: 1.2rem;
    width: 20px;
    height: 20px;
}

.reminder p{
    padding-left: 34px;
    margin-bottom: 6px;
    font-size: .9rem;
    font-weight: bold;
    color: #8c8c8c;
}

/*********************** announcements modal **************************/ /*********************** announcements modal **************************/
/*********************** announcements modal **************************/ /*********************** announcements modal **************************/
.modal-content {
    background: var(--bg-color-primary) !important;
}

.modal-header {
    border-bottom: solid 1px var(--form-outline-color);
}

.modal-footer {
    border-top: solid 1px var(--form-outline-color);
}

/* recent announcement modal buttons */
.modal-close-primary {
    color: var(--font-color);
    background: var(--bg-color-primary);
    border: none;
    width: 25px;
    height: 25px;
}

.modal-close-primary:hover {
    background: var(--secondary-close-bg-color);
    border-radius: 70%;
}

.modal-close-secondary{
    background: var(--secondary-close-bg-color);
    border: none;
    border-radius: 2px;
    color: var(--font-color);
    font-weight: 600;
    padding: 7px 10px 7px 10px;
}

.modal-close-secondary:hover {
    background: var(--secondary-close-hover-color);
}

#user-edit-modal-admin {
    font-size: inherit;
    width: 145px !important;
    height: 38px;
    border: none;
    border-radius: 2px;
    color: var(--font-color);
    font-weight: 600;
    padding: 7px 10px 7px 10px;
}

.modal-edit {
    background: var(--modal-edit-bg-color);
    border: none;
    border-radius: 2px;
    color: var(--font-color);
    font-weight: 600;
    padding: 7px 10px 7px 10px;
}

.modal-edit:hover {
    background: var(--modal-edit-hover-color);
}

.announcement-modal-btn, .reminder-modal-btn {
    border: none;
    background-color: unset;
    color: var(--header-color);
    max-width: 220px;
}

.announcement-modal-btn:hover, .reminder-modal-btn:hover {
    text-decoration: underline ;
}

/*********************** delete modal **************************/ /*********************** delete modal **************************/
/*********************** delete modal **************************/ /*********************** delete modal **************************/

.incomplete-app span{
    font-size: 1.2rem;
}

.welcome-info{
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 5px 40px 5px 40px;
    color: var(--font-color);

}

.reminder-div{
    padding: 5px;
    margin-bottom: 10px;
    align-items: center;
}

.reminder-div .btn{
    width: 100%;
}

.reminder-div .btn:hover{
    background-color: #6CB443;
}

.btn-reminder-more{
    color: black;
}

a {
    color: purple;
}

.dashboard-top>div{

}

.resources-list{
    gap: 10px
}

.resources-list>li{
    border: none;
    background-color: transparent;
}

.dash-table{
    width: 100%;
    font-size: .9rem;
}

.dash-table th{
    padding: 10px;
    background-color: var(--table-header-color);
    color: var(--table-hd-font-color);
}

.dash-table td{
    padding: 10px;
}

.dash-table tr:nth-child(odd){background-color: var(--table-secondary-color);}

.dash-table tr:hover{
    background-color: var(--table-hover-color);
}

.dash-table i{
    color: #EEE;
}

.dash-table .btn{
    border-radius: 0;
}

.app-button-outer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.app-button-inner{
    text-align: center;
}

.user-dropdown .dropdown-toggle::before{
    display: none;
}
.user-dropdown-btn{
    background-color: var(--submit-color);
    border: none;
    width: 36px;
    height: 36px;
}

.status span{
    margin-left: 6px;
}

.status-accepted i{
    color: var(--status-accepted) !important;
}
.status-applied i{
    color: var(--status-applied) !important;
}
.status-inactive i{
    color: var(--status-inactive) !important;
}
.status-interviewing i{
    color: var(--status-interviewing) !important;
}
.status-need-to-apply i{
    color: var(--status-need-to-apply) !important;
}
.status-rejected i{
    color: var(--status-rejected) !important;
}

.w-15{
    width: 15%;
}

.w-20{
    width: 20%;
}
.w-40{
    width: 40%;
}

.w-btn{
    width: 100px;
}

.user-role-col{
    width: 70px;
}

.app-date-col, .announce-date-col{
    width: 120px;
}

.app-status-col, .app-url-col, .user-status-col, .announce-job-type-col {
    width: 160px;
}

.app-employer-col, .announce-url-col{
    width: 180px;
}

.announce-employer-col{
    width: 200px;
}

.app-job-col, .app-user-col, .app-email-col{
    width: 220px;
}

.announce-position-col {
    width: 250px;
}

.user-name-col, .user-email-col{
    width: 200px;
}

#user-deleted-label{
    font-size: 0.8rem;
}

.user-buttons-col{
    width: 200px;
}

#user-edit-modal-roles, .url{
    word-break: break-all;
}


/* announcements table*/
.job-url {
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
    white-space: nowrap;
}


.footer-div{
    font-size: .8rem;

    ul{
        list-style: none;
        font-size: .8rem;
        padding-left: 0;
    }

    li{
        max-width: 400px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .footer-vert-line{
        border-left: 1px solid #696969;
    }

    p{
        font-family: BigNoodle;
        font-size: 1rem;
    }

    a:link, a:visited{
        color: var(--font-color);
    }

    .footer-title{
        padding-bottom: 10px;
        font-weight: bold;
        font-size: .8rem;
    }

    .footer-show{
        opacity: 1;
        height: auto;
        transition: 1s;
    }

    .footer-hide{
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: 1s;
    }

    .footer-logo{
        padding: 0;
    }

    .showing{
        color: var(--header-color);
    }


}

#footer-jobs-btn:hover, #footer-resources-btn:hover{
    cursor: pointer;
}

.footer-logo{
    height: 40px;
    width: 40px;
}

.footer-btn-div{
    width: 20%;
}

.job-icon-container{
    height: 40px;
    gap: 10px;
}

.job-icon-container a{
    width: 40px;
    border-radius: 6px;
}

.job-icon-container img{
    filter: invert(var(--footer-icon-invert));
}

.footer-section{
    width: 400px;
    padding-top: 20px;

}

.footer-section:last-child{
    padding-left: 100px;
}


.icon-linkedin{
    background-color: #0b65c4;
}
.icon-indeed{
    background-color: #033a94;
}
.icon-glassdoor{
    background-color: #0e9964;
}
.icon-ziprecruiter{
    background-color: #45db60;
}
.icon-monster{
    background-color: #7045ae;
}
.icon-handshake{
    background-color: #d4fb52;
}
.icon-careerbuilder{
    background-color: #00b2a4;
}

.job-icon{
    background-color: var(--font-color);
    border-radius: 6px;
    position: relative;
}


.resources-first{
    display: none;
}

.resources-last{
    display: block;
}

.tooltiptext{
    visibility: visible;
    position: absolute;
}

.job-icon:hover .tooltiptext{
    visibility: visible;
    top: 0;
}

.custom-tooltip{
    --bs-tooltip-bg: red !important;
}

.order-icons{
    div{
        padding: 3px 0 0 0;
        display: flex;
        flex-direction: column;
    }

    i{
        line-height: .5rem;
        color: var(--table-hd-font-color);
    }
}

.clickable{
    cursor: pointer;
}

#show-deleted-users-btn i{
    font-size: 1rem;
}


.modal-custom{
    background-color: var(--bg-color-primary);
}

#selectUserModal{
    width: 100%;
    font-size: .9rem;
}

#selectUserModal th{
    width: 15%;
}

#selectUserModal tr{
    cursor: pointer;
}


.hidden{
    display: none;
}

/*        Toasts        */
#toastContainer{
    background-color: var(--status-rejected);
    border-radius: 4px;
    opacity: 0;
    color: white;

    transition: top .5s ease-in-out, opacity .5s ease-in-out;
}

.alert-show{
    opacity: 1!important;
    top: 0;
}

.alert-hide{
    opacity: 0 !important;
    top: -50px !important;
}

/*********************** mobile **************************/ /*********************** mobile **************************/
/*********************** mobile **************************/ /*********************** mobile **************************/

@media screen and (min-width: 768px) and (max-width: 909px) {
    nav {
        a, #navbarDropdown {
            font-size: 1.18rem !important;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 767px) {

    nav a {
        width: 12rem !important;
        padding-left: 1rem !important;
    }

    .form-body {
        width: 90%;
    }

    .form-header, .form-container {
        width: 100%;
    }

}

@media screen and (max-width: 993px) {
    #main-container {
        max-width: 90%;
    }
    .app-list, .reminders, .software-dev-img, .about-program {
        width: 100%;
        margin-bottom: 25px;
    }
    .software-dev-img {
        width: 80%;
        margin: auto auto 25px;
    }

    #dark-mode-list-item > div {
        padding-top: 0;
    }

    .footer-section:last-child{
        padding-left: 10px;
    }

    .resources-first{
        display: block;
    }

    .resources-last{
        display: none;
    }

    .receipt-message, .form-receipt-container {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .footer-jobs-div{
        width: 300px;
    }

    .welcome-outer{
        right: 80px;
    }

    .receipt-message, .form-receipt-container {
        width: 70%;
    }
}

@media screen and (max-width: 575px) {
    .app-button-outer {
        width:50%;
    }
    .title {
        text-align: center;
        width:66.66666666666%;
    }

    .table-head{
        display: none;
    }

    table tr {
        display: flex;
        flex-direction: column;

    }

    .dash-table td{
        padding: 4px 10px;
    }

    thead > tr {
        flex-direction: row;
    }

    .table-date, .table-title, .table-employer, .table-status, .table-btns, .table-link, .table-role, .table-name, .table-email{
        width: 100%;
    }

    .table-date, .table-status{
        font-weight: bold;
    }

    .table-title, .table-name{
        font-size: 1.2rem;
        color: var(--font-color-secondary);
        font-weight: bold;
    }

    .table-employer{
        font-size: 1.1rem;
    }


    .footer-btn-div p{
        font-size: .7rem !important;
    }

    .footer-jobs-div{
        width: 200px;
    }

    .app-list-item, .announce-list-item, .user-list-item{
        align-items: start !important;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .app-date-col, .announce-date-col
    {
        width: 15%;
    }

    .app-employer-col, .app-status-col, .app-url-col, .announce-position-col, .announce-employer-col, .announce-job-type-col{
        width: 20%;
    }

    .app-job-col, .app-user-col, .app-email-col{
        width: 15%;
    }

    .user-name-col, .user-email-col, .user-status-col, .announce-url-col{
        width: 33%;
    }

    #user-deleted-label{
        font-size: 0.6rem;
    }

    .receipt-message, .form-receipt-container {
        width: 90%;
    }
}